<h1>Listing memeber_ships</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memeber_ships.each do |memeber_ship| %>
  <tr>
    <td><%= memeber_ship.member_id %></td>
    <td><%= memeber_ship.project_id %></td>
    <td><%= link_to 'Show', memeber_ship %></td>
    <td><%= link_to 'Edit', edit_memeber_ship_path(memeber_ship) %></td>
    <td><%= link_to 'Destroy', memeber_ship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Memeber ship', new_memeber_ship_path %>
